<nav>
    <div class="site-title">
        <a href="/"><h1>Patrick's Blog</h1></a>
        <p>My Sabatical Journey</p>
    </div>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>        
</nav>