* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

@media screen and (min-width: 320px) {
  #preload {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    background-color: #ebcc93;
    -webkit-animation: background 5s ease-in infinite;
            animation: background 5s ease-in infinite;
  }
  #preload svg {
    width: 80%;
    height: 50%;
  }
  #preload svg #loader #moon {
    -webkit-animation: moon 5s linear infinite;
            animation: moon 5s linear infinite;
  }
  #preload svg #loader #plane {
    -webkit-animation: plane 5s linear infinite;
            animation: plane 5s linear infinite;
  }
  #preload svg #loader #sun {
    -webkit-transform: translateX(-320px);
            transform: translateX(-320px);
    -webkit-animation: sun 5s linear infinite;
            animation: sun 5s linear infinite;
  }
  #preload svg #back {
    -webkit-animation: loader 5s ease-in infinite;
            animation: loader 5s ease-in infinite;
  }
  @-webkit-keyframes plane {
    0% {
      -webkit-transform: translateX(350px);
              transform: translateX(350px);
    }
    100% {
      -webkit-transform: translateX(-700px);
              transform: translateX(-700px);
    }
  }
  @keyframes plane {
    0% {
      -webkit-transform: translateX(350px);
              transform: translateX(350px);
    }
    100% {
      -webkit-transform: translateX(-700px);
              transform: translateX(-700px);
    }
  }
  @-webkit-keyframes moon {
    0% {
      -webkit-transform: translate(500px, 300px);
              transform: translate(500px, 300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(500px, 0px);
              transform: translate(500px, 0px);
      opacity: 1;
    }
  }
  @keyframes moon {
    0% {
      -webkit-transform: translate(500px, 300px);
              transform: translate(500px, 300px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate(500px, 0px);
              transform: translate(500px, 0px);
      opacity: 1;
    }
  }
  @-webkit-keyframes loader {
    0% {
      fill: #ebcc93;
    }
    100% {
      fill: #3828c5;
    }
  }
  @keyframes loader {
    0% {
      fill: #ebcc93;
    }
    100% {
      fill: #3828c5;
    }
  }
  @-webkit-keyframes background {
    0% {
      background-color: #ebcc93;
    }
    100% {
      background-color: #3828c5;
    }
  }
  @keyframes background {
    0% {
      background-color: #ebcc93;
    }
    100% {
      background-color: #3828c5;
    }
  }
  @-webkit-keyframes sun {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(200px);
              transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes sun {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(200px);
              transform: translateY(200px);
      opacity: 0;
    }
  }
  header {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: auto;
    background: url("../media/faro_portugal.jpg");
    background-color: #00000000;
    background-blend-mode: overlay;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  header #nav-bar {
    display: none;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    background-color: #000000a9;
  }
  header #nav-bar ul {
    padding: 1rem;
    text-align: center;
  }
  header #nav-bar ul li {
    display: inline;
    margin: 1rem;
    font-size: 1.5rem;
    color: #fff;
  }
  header button {
    width: 48px;
    height: 48px;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    background-color: transparent;
    display: block;
    border: none;
    outline: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 5;
  }
  header button div {
    content: '';
    background-color: #000;
    width: 90%;
    height: 8px;
    margin: 4px;
    border-radius: 2px;
  }
  header #side-nav {
    display: none;
    opacity: 0;
    width: 0vw;
    height: 100vh;
    position: fixed;
    background-color: #a0a0a0;
    z-index: 5;
  }
  header #side-nav ul {
    width: 95%;
    display: block;
    margin: auto;
    list-style-type: none;
    height: auto;
    position: absolute;
    bottom: 0;
  }
  header #side-nav ul li {
    color: #ffffff;
    position: relative;
    bottom: 10px;
    font-size: 32px;
    margin: 16px 0;
    text-align: right;
  }
  header #heading {
    width: 300px;
    display: block;
    margin: auto;
    background-color: #ffffffad;
    position: relative;
    top: 500px;
    -webkit-box-shadow: 5px 5px 5px #000;
            box-shadow: 5px 5px 5px #000;
  }
  header #heading h1 {
    font-size: 48px;
  }
  header #heading h2 {
    font-size: 32px;
  }
  #about {
    margin-bottom: 32px;
  }
  #about h1 {
    width: 95%;
    margin: auto;
    font-size: 32px;
  }
  #about h2 {
    width: 95%;
    margin: auto;
    font-size: 24px;
  }
  #about p {
    width: 95%;
    margin: auto;
    font-size: 24px;
  }
  #main {
    overflow-x: hidden;
  }
  #main #intro {
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
  }
  #main #intro h2 {
    font-size: 48px;
  }
  #main #timeline {
    width: 50px;
    height: 100vh;
    margin: auto;
    padding: 32px 0;
  }
  #main #timeline #line {
    position: absolute;
    top: 350px;
    z-index: 5;
  }
  #main #timeline #path {
    position: absolute;
    top: 350px;
    z-index: 1;
  }
  #main #timeline circle {
    z-index: 3;
  }
  #main #timeline .card {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 300px;
    opacity: 1;
    border: 2px solid black;
    display: block;
    margin: auto;
    z-index: 1;
  }
  #main #timeline .card img {
    width: 100%;
    border-bottom: 2px solid black;
  }
  #main #timeline .card .description {
    padding: 4px;
    text-align: center;
  }
  #main #timeline #spain {
    -webkit-transform: translate(-150px, 50px);
            transform: translate(-150px, 50px);
  }
  #main #timeline #portugal {
    top: 400px;
    left: 70px;
  }
  #main #timeline #france {
    top: 50px;
    left: 270px;
  }
  #main #timeline #italy {
    top: 400px;
    left: 470px;
  }
  #main #timeline #england {
    top: 50px;
    left: 670px;
  }
  #main #timeline #singapore {
    top: 400px;
    left: 870px;
  }
  #main #timeline #malaysia {
    top: 50px;
    left: 1070px;
  }
  #main #timeline #indonesia {
    top: 400px;
    left: 1270px;
  }
  #main #timeline #taiwan {
    top: 50px;
    left: 1470px;
  }
  #main #timeline #brazil {
    top: 400px;
    left: 1670px;
  }
  #main #timeline #uruguay {
    top: 50px;
    left: 1870px;
  }
  #main #timeline #argentina {
    top: 400px;
    left: 2070px;
  }
  #main #timeline #chile {
    top: 50px;
    left: 2270px;
  }
  #main #timeline #ecuador {
    top: 400px;
    left: 2470px;
  }
  #main #timeline #costa-rica {
    top: 50px;
    left: 2670px;
  }
  #main #timeline #salvador {
    top: 400px;
    left: 2870px;
  }
  #description {
    width: 95%;
    display: block;
    margin: auto;
  }
  #description h2 {
    font-size: 32px;
  }
  #description p {
    font-size: 24px;
    margin: 32px 0;
  }
}

@media only screen and (min-width: 768px) {
  header #nav-bar {
    display: block;
  }
  header button {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */